<div class="container">
    <div class="box">

        <div class="title">
            <h3> Descrições Retorno </h3>
        </div>
 
        <div class="p-4">

            <p class="red">Campos Obrigatorios *</p>

            <div class="d-flex justify-content-between mt-3 mb-3">
                <select [formControl]="selectInput" class="form-control">
                    <option value="" disabled selected hidden>Selecione um valor...</option>>
                    <option *ngFor="let x of valueBox?.dominiosconteudos" [value]="x.codigoDominioConteudo">
                        {{x.descricaoDominioConteudo}}</option>
                </select>

                <input [formControl]="code" class="form-control mt-0 mb-0 m-2" placeholder="Codigo *">

                <input [formControl]="returnName" class="form-control" placeholder="Nome Retorno *">
            </div>


            <textarea class="form-control mb-3" placeholder="Descrição" [formControl]="description" cols="60"
                rows="8"></textarea>

            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-danger" (click)="goBack()">
                    Voltar
                    <fa-icon class="m-2" [icon]="faArrowLeft"></fa-icon>
                </button>

                <button class="btn btn-secondary" (click)="save()"
                    [disabled]="!code.value  || !returnName.value  || !selectInput">
                    Salvar
                    <fa-icon class="m-2" [icon]="faSave"></fa-icon>
                </button>

            </div>
        </div>

    </div>
</div>